<h1>All Artists</h1>

<table>
  <tr>
    <th>Name</th>
    <th>Activity</th>
    <th>Obtained</th>
  </tr>

<% @artists.each do |artist| %>
  <tr>
    <td><%= link_to artist.name, artist %></td>
    <td><%= artist.activity %></td>
    <td><%= artist.obtained %></td>
  </tr>
<% end %>
</table>

<br />

